@charset "utf-8";
/* MAIN.CSS */



@import url(gridSetFlex.css);
@import url(gridView.css);
@import url(reset.css);
@import url(core.css);


html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

}


/* 그리드 재정의 */
.grid {

	width: 1762px;
	z-index: -1;

}


.page {

	width: 100%;
	height: 100%;
	/*   outline: 2px dotted red;*/
}

.inbox {
	position: relative;
	top: 50%;
	/*세로크기의 중앙에 오도록 셋팅*/
	transform: translateY(-50%);
	width: 1440px;
	max-width: 100%;
	/*height: 100%;*/
	margin: 0 auto;

}

#wrap {
	width: 100%;
	height: 100%;
	overflow: auto;
}

/* 상단 */

.top {
	position: relative;
	z-index: 999;
	width: 100%;
	outline: 1px solid lime;
}

.toptit {
	position: absolute;
	top: 55px;
	left: 15%;
	color: #fff;
	display: none;
	font-size: 2vw;
	font-weight: 100;
	transition: .8s ease-out;
	cursor: pointer;
}

/* 토글버튼 */

.menu_toggle {

	position: absolute;
	right: 0;
	top: 50px;
	width: 100px;
	height: 40px;
	cursor: pointer;

}

.hambuger,
.cross {

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.hambuger span {

	display: block;
	width: 70px;
	height: 2px;
	margin-bottom: 5px;
	overflow: hidden;
	position: relative;
	background-color: #fff;
}

.hambuger span:last-child {

	margin: 0;

}

.hambuger span:before,
.hambuger span:after {

	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	transform: translateX(-200%);
	transition: transform ease 500ms;
}

.hambuger span:after {

	transform: translateX(0);
}

.hambuger span:last-child::before,
.hambuger span:last-child::after {

	transition-delay: 75ms;
}

.menu_toggle:hover .hambuger span::before {

	transform: translateX(0);
}

.menu_toggle:hover .hambuger span:after {
	transform: translateX(200%);
}

.menu_toggle.active .hambuger span:before {
	transform: translateX(100%);
}

.menu_toggle.active .hambuger span:after {
	transform: translateX(200%);
}

.cross span {
	display: block;
	width: 18px;
	height: 2px;
	background-color: #fff;
	transform: translateY(50%) rotate(45deg) scaleX(0);
	transition: transform ease 200ms;
}

.cross span:last-child {
	transform: translateY(-50%) rotate(-45deg) scaleX(0);
}

.menu_toggle.active .cross span {
	transition-delay: 450ms;
	transform: translateY(50%) rotate(45deg) scaleX(1);
}

.menu_toggle.active .cross span:last-child {
	transform: translateY(-50%) rotate(-45deg) scaleX(1);
}

.gnbarea {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 1);
	z-index: 99;
	display: none;
}

.banner_h1.gnbtit h1 a {
	display: block;
	transform: scale(.5);
}

.gnbclose {
	position: absolute;
	right: 239px;
    top: 13px;
	width:100px;
	height:100px;
	color:#fff;
	font-size: 5vw;
	font-weight: 100;
	cursor: pointer;
	text-align: center;
	line-height: 100px;
}

.fc.gnb {
	position: absolute;
	right: 256px;
	bottom: 90px;
	transform: scale(1.2);
}









/*////////// 1. 배너영역  /////////////*/



.banner {

	position: relative;
	/*	
	background: url(../images/main_profile.jpg) no-repeat fixed 50% 50%;
	background-size: 70%;*/
	background-color: #1c1c1c;
	/*overflow: hidden;*/

}

/*움직일 배너 이미지*/
.mpro {
	position: absolute;
	width: 70%;
	left: 25%;
	transition: top 1s ease-out;
}

.banner_h1 {


	width: 30%;
}



.banner_h1 a {

	height: 300px;
	color: #fff;
	font-size: 200px;
	font-family: 'Jost', sans-serif;
	font-weight: 100;
	line-height: 180px;
	transition: color .1s ease-in-out;

}

.banner_h1 pre:hover {

	color: rgba(255, 255, 255, .5);
	transition: color .1s cubic-bezier(.1, .7, .6, .1);
}

.banner_h2 {

	padding: 60px 10px;

}

.banner_h2 pre {

	font-family: 'Jost', sans-serif;
}

.banner_h3 {

	padding: 0px 10px;

}

.banner_h2,
.banner_h3 {

	color: #464646;
	letter-spacing: 3px;
	font-weight: 400;
}

.banner_h3 a {

	color: #fff;
	font-size: 25px;

}

.banner_h3 a:hover {

	color: rgba(255, 255, 255, .5);
	transition: color .1s cubic-bezier(.1, .7, .6, .1);

}




/* topics */

.topics {

	background-color: #000238;
	color: #e9e9e9;

}

#topics {


	top: 20%;
	transform: translate(0%);

}

.topics_title h2 {


	position: absolute;
	left: -90px;
	font-size: 72px;
	transform: rotate(90deg);
	font-family: 'Jost', sans-serif;
	font-weight: 100;
	letter-spacing: 10px;
	text-align: bottom;
}

.topics_list {

	margin-left: 200px;
	display: flex;
	flex-wrap: wrap;
	width: 1230px;
	height: 620px;

}

.topics_list li {

	width: 50%;
	position: relative;

}


.ta {

	width: 100%;
	color: #fff;
	opacity: .9;
	display: flex;

}

.topics_list .date {

	position: absolute;
	top: 0;
	left: 0;


}

.topics_list .date strong {

	font-size: 2.25rem;

}


.topics_list .date p {

	position: absolute;
	top: 10px;
	left: 50px;

}

.topics_list .date i {

	position: absolute;
	top: 30px;
	left: 50px;

}

.cg_sub {

	position: absolute;
	bottom: 0px;
	left: 0;
	z-index: 1;
	width: 86%;
	margin-bottom: 30px;


}

.cg_sub .cg span {

	display: inline-block;
	letter-spacing: 1px;
	margin-bottom: 10px;
	margin-left: 10px;
	opacity: .2;

}

.cg_sub h3 {

	font-size: 20px;
	white-space: nowrap;
}

.lazy_wrap {

	position: absolute;
	width: 500px;
	height: 300px;
	right: 0;
	bottom: 0;
	top: 20px;
	background-color: rgba(255, 255, 255, 0);
	display: flex;
	justify-content: center;
	opacity: 1;
	transition: background .7s ease-out;
	overflow: hidden;
}

.lazy_wrap img {

	width: 300px;
	height: 300px;
	z-index: 2px;
	transform: scale(1);
	transition: all .5s ease-out;

}

.lazy_wrap:hover {

	background-color: rgba(255, 255, 255, .3);
}

.lazy_wrap:hover img {

	transform: scale(1.15);
}


/* 3. SCHEDULE */

#schedule {

	padding-top: 100px;
	background-color: #fff;

}

.schedule {
	display: flex;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}


.schedule_title h2 {

	position: absolute;
	left: -100px;
	transform: rotate(90deg);
	font-size: 72px;
	font-family: 'Jost', sans-serif;
	font-weight: 100;
	letter-spacing: 10px;
	text-align: bottom;
	color: #000;

}


.schedule_list_detail {
	width: 100vh;
}


.schedule_list_detail li {

	width: 50vw;
	height: 150px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: rgba(195, 195, 195, .2);
	line-height: 50px;
	overflow: hidden;

}




.scha p {
	display: inline-block;
	color: #aaaaaa;
}

.schatop {

	padding: 10px 0;
}

.schabt {

	position: relative;
	color: #fff;
	font-size: 1vw;
	padding: 5px 10px;

}

.schabt b {

	font-weight: 400;
	color: #fff;
	position: relative;
	z-index: 2;
	display: inline;
}

.schabt::before,
.schabt::after {

	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 0;

}

.schabt::after {

	z-index: 1;
	background: #e8e8e8;
	transform: translate3d(-101%, 0, 0)
}

.schabt:hover b {
	animation-name: t-anim;
	animation-duration: 1.4s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards
}

.schabt:hover::after {
	animation-name: gray-anim;
	animation-duration: 1.4s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards
}


@keyframes gray-anim {
	0% {
		transform: translate3d(-101%, 0, 0)
	}

	100% {
		transform: translate3d(100%, 0, 0)
	}
}

@keyframes t-anim {
	0% {
		color: #fff
	}

	40% {
		color: #000
	}

	100% {
		color: #fff
	}
}


.viewall {

	position: relative;
	display: block;
	margin-top: 50px;
	padding: 10px;
	font-weight: 200;
	font-size: 50px;
	z-index: 2;
	overflow: hidden;
}


.viewall::before,
.viewall::after {

	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #000;
	z-index: 0;

}

.viewall::after {

	z-index: 1;
	background: #f7f3f3;
	transform: translate3d(-101%, 0, 0)
}

.viewall:hover::after {
	animation-name: gray-anim;
	animation-duration: 1.4s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards
}


@keyframes gray-anim {
	0% {
		transform: translate3d(-101%, 0, 0)
	}

	100% {
		transform: translate3d(100%, 0, 0)
	}
}

.vwtxt {

	display: block;
	transition: all .5s ease-out;

}


.viewall:hover .vwtxt {

	transform: translateX(50px);
}

.vwtxt small {
	outline: 1px solid lime;
	line-height: 50px;
	position: absolute;
	right: 2%;
}


/* info */
#info {
	padding-top: 100px;
	background-color: #f1f1f1;

}

.info {

	display: flex;
	align-items: center;
	justify-content: space-between;

}

.info_title {
	font-size: 72px;
	font-family: 'Jost', sans-serif;
	font-weight: 100;
	letter-spacing: 10px;
	transform: rotate(90deg);
	letter-spacing: 10px;
	text-align: bottom;
}

.infoul {
	width: 100vh;
}

.infoul li {
	width: 50vw;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgba(195, 195, 195, .2);
}

.iflitit {
	margin-top: 10px;
	font-size: 1vw;
}

.infoul a {
	display: block;
	padding: 30px 20px;
	transition: .5s;
}

.infoul li:last-child a {
	padding: 0;
}

.infoul a:hover {
	background-color: rgba(195, 195, 195, .2);
}

.infoul li:last-child a:hover {
	background-color: rgba(195, 195, 195, 0);
}

/* VIDEO */

#video {
	background-color: #1c1c1c;
	position: relative;
}

.video {
	top:0;
	transform: none;
	/*.inbox동시적용됨!*/
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: top 1s ease-out;
}

.video_title {
	color: #e8e8e8;
	font-size: 72px;
	font-family: 'Jost', sans-serif;
	font-weight: 100;
	letter-spacing: 10px;
	transform: rotate(90deg)
}

.topics_list.vdul {
	margin-left: 0;
}

.cg_sub.vt {

	left: 0px;
}

.vi::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, .0);
	transition: .5s linear;

}

.lazy_wrap.vi {
	overflow: hidden;
}

.lazy_wrap.vi img {
	width: 500px;
	;
}

.vi:hover:after {
	background-color: rgba(255, 255, 255, .3);
}


.circle-fill {
	position: absolute;
	fill: transparent;
	top: 50%;
	left: 50%;
	transform: translate(-15%, -25%);
	z-index: 1;
}


/* 탑 버튼 */

.gotop {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color: #111;
	cursor: pointer;
	transition: all .3s linear;

}

.gotop:hover {

	background-color: #222;

}

.gotop span {
	position: absolute;
	top: 50%;
	width: 20px;
	height: 2px;
	background-color: #fff;
}

.gotop span:first-child {
	transform: rotate(30deg);
	left: 50%
}

.gotop span:last-child {
	transform: rotate(-30deg);
	left: calc(50% - 17px);
}


/* 뮤직비디오 창 열기 */

#yto{
	position: fixed;
	width:100%;
	height:100%;
	background-color: #000;
	left:0;
	top:0;
	display: none;
	z-index: 99999;
}

#screen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    background-color: #000;
}

/*스크린비율유지*/
#screen::before{
    content: "";
    display: block;
    padding-top: 54%;
    /*가상요소로 패딩탑을 주면 가로크기에 대한 정확한 비율이 나옴!*/
}

#ytv{
	position: absolute;
    top: 0;
    width: 100%;
	height:100%;

}

.ytc{
	position: absolute;
	right:0;
	width:100px;
	height:100px;
	color:#fff;
	font-size: 5vw;
	font-weight: 100;
	cursor: pointer;
	text-align: center;
	line-height: 100px;
}



/* footer */

#ft {
	height: 70vh;
	background-color: #000;
}

.fbx.ftt {
	justify-content: space-between;
}

.ftt .col-4 {
	flex-basis: 30%;
}

.ft1 h3 {
	font-size: 6vw;
	margin-bottom: 30px;
	color: #fff;
	font-weight: 100;
	line-height: 100px;
	transition: all .2s linear;
}

.ft1 h3:hover {
	color: rgba(255, 255, 255, .5);
}


.fsns {
	display: flex;

}

.fsns li {
	margin-right: 30px;
}

.ico img {
	width: 20px;
	opacity: 1;
	transition: .3s linear;

}


.ico:hover img {
	opacity: .4;
}

.fc h3 {
	color: #404040;
	margin-right: 10px;
	margin-top: 10px;
}

.fc ul a {
	font-size: 2vw;
	color: #fff;
	font-weight: 100;
	letter-spacing: 3px;
	transition: .3s linear;
}

.fc ul a:hover {
	color: rgba(255, 255, 255, .5);
}

.ft address {
	text-align: center;
	color: #fff;
	font-weight: 100;
	margin-top: 10px;
}
