@charset "utf-8";

@media only screen and (max-width:1440px) {

	.banner_h1 a {
		top: 8%;
	}


	.banner_h2 {


		bottom: 10%;


	}

	.banner_h3 {

		bottom: 5%;


	}

	.gnbbox .gnbclose {
		right: -31px;
	}

	.toptit {
		left: 2%;
	}

	.ftt div {
		margin-right: 4%;
		margin-left: 8px;
	}

	.ftt {
		display: flex;
	}

	.ftt div:last-child {
		margin-left: 63px;
	}

	.ft address {
		margin-top: 100px;
	}


}

@media only screen and (max-width:1024px) {

	.banner {
		padding: 30px;
		box-sizing: border-box;

	}

	.banner_h1 a {
		line-height: 150px;
	}

	.mpro {
		margin-top: 15%;
	}

	.toptit {
		left: 3%;
	}

	.gnbbox .gnbtit h1 a {
		left: 0;
	}

	.gnbbox .gnb {
		right: 30px;
	}
	
	.gnbbox .gnbclose{
		font-size: 80px;
	}

	.hambuger span {
		height: 1px;
	}

	.topics_title h2,
	.schedule_title h2 {
		transform: rotate(0deg) translateX(-50%);
		left: 50%;
		top: -104px;

	}

	.schedule_title h2 {
		top: -50px;
	}

	.topics_list {
		margin-left: 5%;
	}

	.topics_list li {
		width: 45%;
		margin-right: 5%;
	}

	.lazy_wrap {
		width: auto;
	}

	#schedule {
		position: relative;
	}

	.schedule_list_detail {
		width: auto;
	}

	.schedule_list_detail li,
	.infoul li {
		width: 75vw;
	}

	.schedule_list {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.info_title {
		position: absolute;
		top: -204px;
		left: 50%;
		transform: translateX(-50%);
	}

	.infoul {
		margin: 0 auto;
		width: auto;
	}


	/* video */

	#video {
		height: 100%;
	}


	.video_title {
		top: 70px;
		left: 50%;
		transform: translateX(-50%);
	}

	.vdul {

		position: absolute;
		right: 2%;
		top: 58%;
		transform: translateY(-50%);
		overflow: hidden;
		width: 96%;

	}

	.gotop {

		height: 62px;
	}


	#ft {
		height: 50vh;
	}

	.ft {
		padding: 0 20px;
		padding-top: 100px;
	}

	.ft1 h3 {
		font-size: 7vw;
		line-height: 65px;
	}

	.ftt > div {
		margin-right: 0;
	}


}

@media only screen and (max-width:768px) {


	.gnbbox .fc.gnb {
		right: 57px;
		bottom: 87px;
		transform: scale(2);
	}

	.banner_h1 a {

		font-size: 150px;
		line-height: 110px;
	}


	.mpro {
		width: 85%;
		margin-top: 25%;
		left: 88px;
	}
	
	.gnbbox .gnb li a{
		font-size: 6vw;
	}
	

	.topics_list .date {
		top: 9px;
		left: -35px;
		z-index: 2;
	}

	.lazy_wrap {
		width: 86%;
	}

	.vdultit {
		font-size: 1rem;
	}


}

@media only screen and (max-width:600px) {

	#banner {
		height: 135vw;
	}

	.mpro {
		top: 112px;
		width: 77%;
	}

	.banner {
		height: 137vw;
	}

	.cg_sub h3 {
		font-size: 15px;
	}



}

@media only screen and (max-width:500px) {


	.gnbbox .gnbtit h1 a {
		font-size: 6rem;
		line-height: 80px;
	}

	.gnbbox .gnb li a {
		font-size: 6vw;
	}
	

	.banner_h1 a {
		font-size: 99px;
		line-height: 73px;
		left: 6%;
	}

	.menu_toggle {
		top: 0;
	}

	.hambuger span {
		width: 53px;
	}

	.mpro {

		margin-top: 57%;

	}

	.toptit {
		font-size: 6vw;
		left: 2%;
		top: 2%;
	}

	.banner_h2 {
		left: 82%;
		top: 55px;
		width: 30px;
		padding: 0;
	}

	.banner_h3 {
		top: 38%;
		left: 65%;
		padding: 0;
		text-align: right;
	}

	.topics {
		height: 157%;
	}

	.topics_title h2 {
		top: -230px;
		font-size: 50px;
	}

	.topics_list {
		top: -100px;
		margin-left: 10%;
		position: relative;
	}

	.topics_list li {
		width: 100%;
		height: 50%;
		margin-bottom: 5%;
	}

	.topics_list .date {
		top: 16px;
		left: 0;
	}

	.schedule_list_detail li {
		width: 80vw;
		height: 139px;
	}

	.schedule_title h2 {
		top: -38px;
	}

	.viewall {
		font-size: 6vw;
	}

	.schedule_title h2 {
		font-size: 50px;
	}

	.schabt b,
	.iflitit {
		font-size: 14px;
	}

	.info_title {
		font-size: 50px;
		top: -160px;
	}

	.infoul {
		width: 80vw;
	}

	#video {
		height: 143%;
	}

	.video {
		top: 0;
	}

	.video_title {

		font-size: 8vw;
	}

	.vdul {
		top: 172px;
		transform: translateY(0%);

	}

	.vdul li {
		width: 100%;

	}

	.vdul li:nth-child(2),
	.vdul li:nth-child(3) {
		margin-bottom: 5%;
	}

	#ft {
		height: 100%;
	}

	.ft {

		height: 100%;
		top: 0;
		transform: translateY(0);

	}

	.ftt {
		position: relative;
		height: 94%;
	}

	.ftt div {
		width: 50%;
	}

	.ft1 {
		position: absolute;
		top: 100px;
		left: 30px;
	}

	.ft1 h3 {
		width: 100px;
		line-height: 70px;
		font-size: 80px;
	}

	.fsns {
		position: absolute;
		right: -183px;
		top: 13px;
	}

	.fc {
		position: absolute;
		left: 30px;
		top: 400px;

	}

	.ftt .fc,
	.ftt .fm {
		text-align: left;
	}

	.fc ul a,
	.fm ul a {

		font-size: 25px;
	}

	.ftt .fm {
		position: absolute;
		right: -170px;
		top: 400px;
	}


	.ft address {
		position: absolute;
		bottom: 30px;
		left: 50%;
		font-size: 15px;
		transform: translateX(-50%);
		white-space: nowrap;
	}

}

@media only screen and (max-width:412px) {

	.banner_h3 {
		left: 60%;
	}

	.mpro {
		margin-top: 55%;
		left: 10px;
		width: 96%;
	}


}

@media only screen and (max-width:380px) {

	.banner_h1 a {
		font-size: 67px;
		line-height: 51px;
	}

	.banner_h2 {
		left: 77%;
	}

	.banner_h3 {
		left: 55%;
	}

}

@media only screen and (max-width:360px) {


	html,
	body {
		overflow: scroll;
	}

	


	.gnbbox .gnbtit h1 a {
		font-size: 6rem;
		line-height: 80px;
	}

	.gnbbox .gnb {
		top: 66%;
		left: 38%;
		transform: translate(-50%, -50%);
	}

	.gnbbox .gnb li a {
		font-size: 10vw;
		text-align: left;
	}
	
	

	.gnbbox .gnbclose {
		font-size: 20vw;
	}

	.menu_toggle {
		top: 43px;
	}
	
	.topics{
		height:163%;
	}

	.topics_list li {
		margin-bottom: 17%;
	}

	.gotop {
		height: 50px;
	}

	.ftt div {
		width: 31%;
	}

	.ico img {
		width: 15px;
	}

	.ft {
		padding: 0;
	}

	.ft1 h3 {
		line-height: 51px;
		font-size: 58px;
	}

	.fc ul a,
	.fm ul a {
		font-size: 18px;
	}

	.ftt .fm {
		right: -218px;
	}

}
